:root {
  --cyan: #0dcaf0;
  --darkcyan: #0f83ad;
  --blue: #002b41;
  --darkblue: #001d2c;

  --timing: 265ms;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #001d2c;
  color: white;
  font-family: Arial, sans-serif;
  line-height: 1.3;
  min-width: fit-content;
  margin: 0;
  padding: 0;
}

/* Navbar Styles */
nav {
  width: 100%;
  position: sticky;
  top: 0;
  background-color: var(--darkblue);
  box-shadow: 0 3px 10px black;
  z-index: 1000;
}

.navbar-container {
  max-width: 50%;
  margin: 0 auto;
  display: flex;
  width: 100%;
  padding: 3px 20px;
  justify-content: space-between;
  align-items: center;
  opacity: 97%;
}

.navbar-brand {
  color: white;
  text-decoration: none;
  font-size: 1.7em;
}

.navbar-toggler {
  background: none;
  border: none;
  color: white;
  font-size: 1.5em;
  cursor: pointer;
  display: none;
}

.navbar-toggler-icon {
  display: inline-block;
  width: 30px;
  height: 2px;
  background-color: white;
  position: relative;
}

.navbar-toggler-icon::before,
.navbar-toggler-icon::after {
  content: '';
  display: inline-block;
  width: 30px;
  height: 2px;
  background-color: white;
  position: absolute;
  left: 0;
}

.navbar-toggler-icon::before {
  top: -8px;
}

.navbar-toggler-icon::after {
  top: 8px;
}

.navbar-collapse {
  display: flex;
}

.navbar-collapse.show {
  display: flex;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-item {
  padding: 4px;
  margin: 10px 10px;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
  transition: color 0.3s, transform 0.3s
}

.nav-link:hover {
  color: var(--darkcyan);
}

@media (max-width: 1700px) {
  .navbar-container {
    max-width: 85%;
  }
}

@media (max-width: 1200px) {
  .navbar-container {
    max-width: 95%;
  }
}

@media (max-width: 768px) {
  .navbar-toggler {
    display: block;
    position: absolute;
    top: 0px;
    right: 50px;
  }

  .navbar-collapse {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: var(--darkblue);
    box-shadow: 0 3px 10px black;
  }

  .navbar-collapse.show {
    display: flex;
  }

  .navbar-nav {
    flex-direction: column;
  }

  .nav-item {
    padding: 10px 20px;
    width: 100%;
    margin: 0;
  }

  .nav-link {
    padding: 10px 20px;
    width: 100%;
    margin: 0;
  }

  .nav-item:hover {
    background-color: var(--cyan);
  }
}

/* Resume */
.resume-button {
  background: none;
  border: 2px solid var(--cyan);
  padding: 8px;
  border-radius: 5px;
  color: var(--cyan);
  cursor: pointer;
  transition: color 0.3s, transform 0.3s, border-color 0.3s;
}

.resume-button:hover {
  color: var(--darkcyan);
  border-color: var(--darkcyan);
  transform: scale(1.05);
}

.pdf-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.pdf-modal-content {
  background-color: white;
  border-radius: 5px;
  position: relative;
  width: 90%;  
  height: 95%;
}

.pdf-modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5em;
  cursor: pointer;
}

.pdfobject-container {
  width: 100%;
  height: 100%;
}

/* Intro */
.intro {
  height: 100vh;
}

.intro-title {
  color: var(--cyan);
  font-weight: bold;
  font-size: 25px;
}

.intro-name {
  color: white;
  font-weight: 600;
  font-size: 70px;
}

.intro-text-slider {
  color: #c4c4c4da;
  font-weight: 600;
  font-size: 40px;
}

.intro p {
  padding: 30px 0px;
}

.text-sub {
  font-weight: 100;
  font-size: 19px;
}

.text-skill {
  margin: 0;
  font-size: 15px;
  bottom: 0;
}

/* UTILITIES */

.intro a,
.jobs a,
.contacts a,
.btn {
  color: var(--cyan);
  text-decoration: none;
  transition: all 0.5s ease-out;
}

.intro a:hover,
.jobs a:hover,
.project-card a:hover,
.contacts a:hover,
.btn:hover {
  color: var(--darkcyan);
}

/* INTRO */

.intro {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  margin: 0 auto;
  line-height: 1;
}

.arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20%;
}

.arrow hr {
  flex: 1;
  border: none;
  border-top: 1px solid #c4c4c4da;
  margin: 0 10px;
}

.arrow a {
  text-decoration: none;
}

.arrow i {
  font-size: 3em;
}

/* ABOUT */

section {
  margin: 0 auto;
}

.about {
  width: 45%;
}

.about-title {
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  padding: 1rem 0;
  line-height: 2;
}

.about-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  flex-wrap: wrap;
}

.about-description {
  line-height: 1.4;
  padding-left: 0;
  padding-right: 25px;
  flex: 1;
}

.about-img {
  flex: 1;
  margin: 0 auto;
  max-width: 350px;
  max-height: 350px;
  border: 5px solid var(--cyan);
  border-radius: 25px;
  object-fit: cover;
  opacity: 0.5;
  background-color: var(--blue);
  transition: opacity 1s ease;
}

.about img:hover {
  opacity: 1;
}

.code-icon {
  width: 100%;
  height: 60px;
  margin: 0.5rem;
}

.skills-title {
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  padding-top: 3rem;
}

.skills-section {
  margin-top: 20px;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.skill {
  flex: 1 1 10%;
  margin: 0 auto;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.skill-label {
  font-weight: bold;
}

@media screen and (max-width: 1800px) {
  .about {
    width: 70%;
  }
}

@media screen and (max-width: 1280px) {
  .about {
    width: 80%;
  }
}

@media (max-width: 1024px) {
  .about {
    width: 90%;
    margin: 0;
  }
}

@media (max-width: 768px) {
  .about {
    width: 100%;
    margin: 0 auto;
  }

  .about-title {
    margin: 0;
  }

  .about-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .about-description {
    padding-right: 0px;
    margin: 0 auto;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .about-img {
    max-width: 100%;
  }

  .skills-title {
    padding: 0;
    line-height: 1;
  }

  .skills-section {
    margin: 15px;
  }

  .skill {
    flex: 1 1 20%;
  }
}

/* WORK */

.jobs {
  height: 100%;
  width: 65%;
}

.experience-title {
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  padding-top: 5rem;
}

.jobs article {
  padding: 20px 0;
}

.range {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.jobs li {
  line-height: 1.5;
  list-style-type: none;
  position: relative;
  padding-left: 15px;
}

.jobs li:before {
  content: "\25BA \0020";
  font-size: 10px;
  position: absolute;
  top: 5px;
  left: -10px;
}

/* FEATURED */

.feature {
  width: 60%;
  text-align: center;
}

.feature-title {
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  padding-top: 5rem;
}

.feature-project {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.feature-project .text-container {
  flex: 1;
  padding: 20px;
  text-align: start;
}

.feature-project .card-header {
  font-size: 16px;
  color: var(--cyan);
  font-weight: lighter;
  padding-left: 1rem;
}

.feature-project .card-title {
  font-size: 25px;
  color: white;
  transition: all 0.3s ease-out;
  padding-left: 0.5rem;
  margin: 0px;
}

.feature-project a {
  color: white;
  text-decoration: none;
  transition: all 0.5s ease-out
}

.feature-project a:hover {
  color: var(--darkcyan);
}

.feature-project .card-body {
  padding: 0.5rem;
}

.feature-project .card-text {
  background-color: var(--blue);
  padding: 0.5rem;
}

.feature-project .image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.feature-project .image-container a {
  width: 100%;
  height: auto;
}

.feature-project img {
  width: 100%;
  height: auto;
  object-fit: cover;
  opacity: 60%;
  border-radius: 5px;
  transition: all 0.5s ease;
}

.feature img:hover {
  opacity: 1;
  transform: scale(1.03);
}

.feature-skills-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 0.5rem;
}

.github-icon {
  width: 24px;
  height: 24px;
}

@media screen and (max-width: 1600px) {
  .feature {
    width: 70%;
  }
}

@media screen and (max-width: 1280px) {
  .feature {
    width: 80%;
  }

  .feature img {
    width: 100%;
    height: auto;
    opacity: 85%;
  }
}

@media screen and (max-width: 1024px) {
  .feature {
    width: 90%;
  }
}

@media (max-width: 768px) {
  .feature {
    width: 100%;
  }

  .feature-project {
    flex-direction: column;
  }

  .feature-project .image-container {
    max-width: 100%;
    padding: 10px 30px;
  }

  .feature-project img {
    height: auto;
  }
}

/* OTHER PROJECTS */

.other-title {
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  padding-top: 5rem;
}

.other-container .card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.other-container .card-title {
  font-size: 25px;
  color: white;
  transition: all 0.3s ease-out;
  padding-left: 0.5rem;
  margin: 0px;
}

.project-card {
  background-color: var(--blue);
  width: 25rem;
  height: 20rem;
  margin: 0.5rem;
  transition: all 1s ease-out;
}

.project-card a {
  color: white;
  text-decoration: none;
}

.project-card:hover {
  transform: translateY(-0.1in);
  border: solid 1px var(--cyan);
}

.project-card a:hover {
  color: var(--darkcyan);
  transition: all 0.5s ease-out;
}

.other-projects-btn {
  width: 200px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 12px;
  font-size: 18px;
  border-radius: 5px;
  color: white;
  background-color: var(--cyan);
  border-color: var(--darkcyan);
}

.other-projects-btn:hover {
  color: white;
  background-color: var(--darkcyan);
}

/* CONTACT */

.contacts {
  margin: 0 auto;
  text-align: center;
}

.contact-title {
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  padding-top: 5rem;
}

.contacts p {
  margin: 0 auto;
  line-height: 2.1;
}

.contacts .btn {
  margin-top: 3rem;
  border: 2px solid var(--cyan);
  padding: 15px;
  border-radius: 10px;
}

.contacts .btn:hover {
  transform: scale(1.1);
}

/* FOOTER */

footer {
  background: var(--darkblue);
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

footer h4 {
  color: #c4c4c4da;
  font-size: 18px;
  font-weight: lighter;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin: 0 auto;
  align-items: center;
  transition: all 0.5s ease-out;
}

footer h4:hover {
  color: var(--darkcyan);
}

/* Social Media Icons */

.social-container {
  width: 100%;
  margin: 1rem;
  text-align: center;
}

.social-icons {
  padding: 0;
  list-style: none;
  margin: 1em;
}

.social-icons li {
  display: inline-block;
  margin: 0.15em;
  position: relative;
  font-size: 1.2em;
}

.social-icons i {
  color: #fff;
  position: absolute;
  top: 21px;
  left: 21px;
  transition: all var(--timing) ease-out;
}

.social-icons a {
  display: inline-block;
}

.social-icons a:before {
  transform: scale(1);
  content: " ";
  width: 60px;
  height: 60px;
  border-radius: 100%;
  display: block;
  background: linear-gradient(45deg, var(--darkcyan), var(--cyan));
  transition: all var(--timing) ease-out;
}

.social-icons a:hover:before {
  transform: scale(0);
  transition: all var(--timing) ease-in;
}

.social-icons a:hover i {
  transform: scale(2.2);
  color: var(--darkcyan);
  background: -webkit-linear-gradient(45deg, var(--darkcyan), var(--cyan));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all var(--timing) ease-in;
}

/* Media Query */

@media screen and (max-width: 1280px) {
  .intro {
    width: 60%;
  }

  .jobs {
    width: 80%;
  }

  .profile-pic {
    opacity: 80%;
  }
}

@media screen and (max-width: 1024px) {
  main {
    margin: 0 20px;
  }

  .intro,
  .jobs {
    width: 90%;
  }
}

@media screen and (max-width: 767px) {
  main {
    width: 100%;
    margin: 0px;
  }

  section {
    margin: 0;
    padding: 0;
  }

  .intro {
    padding-left: 5%;
  }

  p {
    font-size: 15px;
  }

  .intro h2 {
    font-size: 50px;
  }

  .intro h3,
  .title {
    font-size: 25px;
  }

  .intro-text-slider {
    color: white;
  }

  .arrow {
    padding-bottom: 0%;
  }

  .jobs {
    width: 100%;
    margin: 0 auto;
  }

  footer, .social-container {
    padding: 1rem;
    margin: 0;
  }
}