:root {
  --font-family-sans-serif: "Roborto", sans-serif;
  --cyan: #0dcaf0;
  --darkcyan: #0f83ad;
  --blue: #002b41;
  --darkblue: #001d2c;
  --white: #f5faf9;
  --grey: #c4c4c4da;

  --timing: 265ms;
  --scale: 1;
}

body {
  background-color: var(--darkblue);
  font-family: var(--font-family-sans-serif);
  color: var(--white);
  line-height: 1.3;
  margin: 0;
  box-sizing: border-box;
  min-width: fit-content;
}

.navbar {
  background-color: var(--darkblue);
  top: 0;
  transition: top 0.3s;
  opacity: 97%;
  box-shadow: 0 3px 10px black;
}

.brand {
  color: white !important;
  font-size: 30px;
}

.nav-link {
  color: white !important;
  font-size: 18px;
  padding: 1rem;
}

.navbar-toggler {
  background-color: var(--darkcyan);
}

.navbar-nav .btn {
  margin: 0 10px;
  border: 2px solid var(--cyan);
  padding: 10px;
  border-radius: 10px;
}

.navbar-nav .btn:hover {
  border: 2px solid var(--darkcyan);
  color: var(--darkcyan);
}

.container-fluid {
  padding: 0px 3rem;
}

/* RESUME MODAL */

.resume-btn {
  background-color: var(--darkblue);
}

.resume-btn:hover {
  background-color: var(--darkblue);
}

.modal-dialog {
  max-width: 100%;
}

.modal-header {
  color: black;
}

.modal-content {
  height: 90vh;
}

.pdfobject-container {
  height: 100%;
}

/* FONTS */

.intro-title {
  color: var(--cyan);
  padding: 5px 0;
  font-weight: 400;
  font-size: 20px;
}

.intro-name {
  font-weight: 600;
  font-size: 70px;
}

.intro-text-slider {
  color: var(--grey);
  font-weight: 600;
  font-size: 40px;
}

.intro p {
  padding: 30px 0px;
}

.title {
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  padding: 1rem 0;
  line-height: 2;
}

.text-sub {
  font-weight: 100;
  font-size: 19px;
}

.card-header {
  font-size: 16px;
  color: var(--cyan);
  font-weight: lighter;
  border-style: none;
  background-color: var(--darkblue);
  padding: 0.5rem;
}

.card-title {
  font-size: 25px;
  color: var(--white);
  transition: all 0.3s ease-out;
  margin-top: 5px;
}

.text-skill {
  margin: 0;
  font-size: 15px;
  bottom: 0;
}

.contacts p {
  margin: 0 auto;
  line-height: 2;
}

/* UTILITIES */

.intro a,
.jobs a,
.feature a,
.contacts a,
.side-email a,
.btn {
  color: var(--cyan);
  text-decoration: none;
  transition: all 0.5s ease-out;
}

.intro a:hover,
.jobs a:hover,
.feature a:hover,
.project-card a:hover,
.contacts a:hover,
.side-email a:hover,
.btn:hover {
  color: var(--darkcyan);
}

/* #goBackTopBtn {
  position: fixed;
  left: 85%;
  bottom: 2rem;
  border: 2px solid black;
  border-radius: 50%;
  padding: 0.5rem;
  background-color: var(--cyan);
  display: none;
} */

/* INTRO */

.intro {
  height: 100vh;
  padding-top: 15%;
  width: 50%;
  margin: 0 auto;
  line-height: 2;
}

.arrow {
  padding-bottom: 10%;
}

/* ABOUT */

section {
  margin: 0 auto;
  transition: all 1s ease;
  padding-top: 5%;
}

.about {
  width: 45%;
}

.inner {
  padding-top: 1rem;
}

.about-description {
  line-height: 1.4;
  padding-left: 0;
  padding-right: 25px;
}

.profile-pic {
  display: flex;
  width: 350px;
  height: 350px;
  border: 5px solid var(--cyan);
  border-radius: 25px;
  object-fit: cover;
  object-position: 50% 50%;
  padding: 0px;
  opacity: 50%;
  background-color: var(--blue);
  transition: opacity 0.6s ease-out, transform 1.2s ease-out;
}

.about img:hover {
  opacity: 100%;
}

.code-icon {
  width: 100%;
  height: 60px;
  margin: 0.5rem;
}

.skill-name {
  width: 100%;
  text-align: center;
  margin: 0rem;
}

/* WORK */

.jobs {
  height: 100%;
  width: 65%;
}

.jobs article {
  padding: 20px 0;
}

.range {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.jobs li {
  line-height: 1.5;
  list-style-type: none;
  position: relative;
  padding-left: 15px;
}

.jobs li:before {
  content: "\25BA \0020";
  font-size: 10px;
  position: absolute;
  top: 5px;
  left: -10px;
}

/* FEATURED */

.feature {
  width: 60%;
  text-align: center;
}

.feature-project {
  background-color: var(--darkblue);
  border-style: none;
  padding: 3rem 0;
}

.card-body {
  padding: 0.5rem;
}

.card-text {
  background-color: var(--blue);
  padding: 0.5rem;
}

.feature a {
  color: var(--white);
}

.feature img {
  width: 100%;
  height: auto;
  opacity: 60%;
  transition: all 0.5s ease-out;
}

.feature img:hover {
  opacity: 100%;
  transform: scale(1.03);
}

/* OTHER PROJECTS */

.project-card {
  background-color: var(--blue);
  width: 25rem;
  height: 20rem;
  margin: 0.5rem;
  transition: all 1s ease-out;
}

.project-card a {
  color: var(--white);
  text-decoration: none;
}

.project-card:hover {
  transform: translateY(-0.1in);
  border: solid 1px var(--cyan);
}

.project-card:hover .card-title,
.project-card a:hover {
  color: var(--darkcyan);
  transition: all 0.5s ease-out;
}

.card-link {
  margin-bottom: 10px;
}

.other-projects-btn {
  width: 200px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 12px;
  font-size: 18px;
  border-radius: 5px;
  color: white;
  background-color: var(--cyan);
  border-color: var(--darkcyan);
}

.other-projects-btn:hover {
  color: white;
  background-color: var(--darkcyan);
}

/* CONTACT */

.contacts {
  margin: 0 auto;
  text-align: center;
}

.contacts .btn {
  margin-top: 3rem;
  border: 2px solid var(--cyan);
  padding: 15px;
  border-radius: 10px;
}

.contacts .btn:hover {
  transform: scale(1.1);
}

.form {
  margin: 5% 0 0 0;
}

.form-input {
  width: 500px;
  margin: 10px;
  padding: 10px;
}

.form-button {
  width: 500px;
  margin: 15px;
  padding: 12px;
  font-size: 18px;
  border-radius: 5px;
  color: white;
  background-color: var(--cyan);
  border-color: var(--darkcyan);
  transition: all 0.5s ease-out;
}

.form-button:hover {
  background-color: var(--darkcyan);
}

/* FOOTER */

footer {
  background: var(--darkblue);
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

footer h4 {
  color: var(--grey);
  font-size: 18px;
  font-weight: lighter;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin: 0 auto;
  align-items: center;
  transition: all 0.5s ease-out;
}

footer h4:hover {
  color: var(--darkcyan);
}

/* Social Media Icons */

.social-container {
  width: 100%;
  margin: 1rem;
  text-align: center;
}

.social-icons {
  padding: 0;
  list-style: none;
  margin: 1em;
}

.social-icons li {
  display: inline-block;
  margin: 0.15em;
  position: relative;
  font-size: 1.2em;
}

.social-icons i {
  color: #fff;
  position: absolute;
  top: 21px;
  left: 21px;
  transition: all var(--timing) ease-out;
}

.social-icons a {
  display: inline-block;
}

.social-icons a:before {
  transform: scale(var(--scale));
  content: " ";
  width: 60px;
  height: 60px;
  border-radius: 100%;
  display: block;
  background: linear-gradient(45deg, var(--darkcyan), var(--cyan));
  transition: all var(--timing) ease-out;
}

.social-icons a:hover:before {
  transform: scale(0);
  transition: all var(--timing) ease-in;
}

.social-icons a:hover i {
  transform: scale(2.2);
  color: var(--darkcyan);
  background: -webkit-linear-gradient(45deg, var(--darkcyan), var(--cyan));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all var(--timing) ease-in;
}

/* Media Query for Larger Desktop Screen and Smaller */

@media screen and (max-width: 1800px) {
  .about {
    width: 70%;
  }
  .side-email {
    left: 80%;
  }
}

/* Media Query for Desktops and Smaller */
@media screen and (max-width: 1280px) {
  .intro {
    width: 60%;
  }

  .about,
  .feature,
  .jobs {
    width: 80%;
  }

  .profile-pic {
    opacity: 80%;
  }

  .feature img {
    width: 100%;
    height: auto;
    opacity: 85%;
  }

  .side-email {
    left: 78%;
  }
}

/* Media Query for Tablets Ipads Portrait Mode and Smaller */
@media screen and (max-width: 1024px) {
  main {
    margin: 0 20px;
  }

  .intro,
  .about,
  .jobs {
    width: 90%;
  }
}

/* Media Query for Low Resolution Tablets and Ipads and Smaller */
@media screen and (max-width: 767px) {
  main {
    margin: 0 5px;
  }

  section {
    padding: 3rem;
  }

  .intro {
    padding-left: 5%;
  }

  p {
    font-size: 15px;
  }

  .intro h2 {
    font-size: 50px;
  }

  .intro h3,
  .title {
    font-size: 25px;
  }

  .intro-text-slider {
    color: white;
  }

  .arrow {
    padding-bottom: 0%;
  }

  .inner {
    padding: 0;
  }

  .about,
  .jobs,
  .feature {
    width: 100%;
    margin: 0 auto;
  }
  
  .about-description {
    padding-right: 0px;
    margin: 0 auto;
  }

  .form-input, .form-button {
    width: 400px;
  }

  footer, .social-container {
    padding: 1rem;
    margin: 0;
  }
}

/* Specially for dropdown menu collapse transition */
@media screen and (max-width: 576px) {
  .intro-name {
    font-weight: 600;
    font-size: 60px;
  }

  .form-input, .form-button {
    width: 350px;
  }

  .about,
  .jobs,
  .feature {
    width: 90%;
    margin: 0 auto;
    padding: 0;
  }

  section {
    padding: 1rem;
  }
}
